<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <appSettings>
    <add key="Module" value="lom" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Prefix root _next by referer module" stopProcessing="true">
          <match url="^_next/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_REFERER}" pattern="https?://[^/]+/lom(/|$)" />
          </conditions>
          <action type="Rewrite" url="/{C:1}/_next/{R:1}" />
        </rule>
        <rule name="Clean URLs" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/lom/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>