.titleWithDropdown {
    font-family: 'Inter', 'Arial', sans-serif, 'Times New Roman';
}

.section {
    font-family: 'Inter', 'Arial', sans-serif, 'Times New Roman';
}

.sectionWithDropdown {
    font-family: 'Inter', 'Arial', sans-serif, 'Times New Roman';
}

.link {
    font-family: 'Inter', 'Arial', sans-serif, 'Times New Roman';
}

.newDimension {
    font-family: 'Inter', 'Arial', sans-serif, 'Times New Roman';
}