<?xml version="1.0" encoding="UTF-8"?>
<!--For alias-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite alias to eaq" stopProcessing="true">
          <match url="^eaq/(.*)" />
          <action type="Rewrite" url="eaq/{R:1}" />
        </rule>
        <rule name="SPA fallback" stopProcessing="true">
          <match url="^eaq/?$" />
          <action type="Rewrite" url="eaq/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

<!-- For subdomain-->
<!--configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite basePath to root" stopProcessing="true">
          <match url="^eaq/(.*)" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
        <rule name="SPA fallback" stopProcessing="true">
          <match url="^/?$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration> -->
